.add-item-form,
.expired-box {
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
}

.form-content {
  display: flex;
}

.pantry-list {
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
}

.expired-box {
  display: none;
}
