.expire-status {
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
  display: none;
  flex-direction: column;
}

.recipe-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: solid black 1px;
  margin: 10px;
}

/* .recipe-card-content {
  display: flex;
} */

.recipe-card-content-ingredients {
  display: flex;
}

/* .recipe-card-content-ingredients label {
  margin: 16px;
} */

.ingredient-label {
  margin-right: 8px;
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
}
